/* line 1, ../sass/content.sass */
main {
  background: url("../../assets/img/background-middle.jpg");
  background-size: cover;
  background-position: center center;
  padding: 0 10px 90px 10px;
}
@media only screen and (max-width: 980px) {
  /* line 1, ../sass/content.sass */
  main {
    padding: 0 10px 10px 10px;
  }
}
/* line 8, ../sass/content.sass */
main .inner {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
/* line 12, ../sass/content.sass */
main h2 {
  margin-top: 60px;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0 0 25px;
  letter-spacing: -1px;
}
@media only screen and (max-width: 980px) {
  /* line 12, ../sass/content.sass */
  main h2 {
    padding: 0;
    margin-top: 40px;
    font-size: 22px;
  }
}
/* line 24, ../sass/content.sass */
main .bullets {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
@media only screen and (max-width: 980px) {
  /* line 24, ../sass/content.sass */
  main .bullets {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
}
/* line 32, ../sass/content.sass */
main .bullet {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
/* line 36, ../sass/content.sass */
main .bullet:nth-child(1) {
  max-width: 271px;
}
@media only screen and (max-width: 980px) {
  /* line 36, ../sass/content.sass */
  main .bullet:nth-child(1) {
    max-width: none;
  }
}
/* line 40, ../sass/content.sass */
main .bullet:nth-child(2) {
  max-width: 330px;
}
@media only screen and (max-width: 980px) {
  /* line 40, ../sass/content.sass */
  main .bullet:nth-child(2) {
    max-width: none;
  }
}
/* line 44, ../sass/content.sass */
main .bullet:nth-child(3) {
  max-width: 270px;
}
@media only screen and (max-width: 980px) {
  /* line 44, ../sass/content.sass */
  main .bullet:nth-child(3) {
    max-width: none;
  }
}
/* line 48, ../sass/content.sass */
main .bullet img {
  max-height: 80px;
}
/* line 50, ../sass/content.sass */
main .bullet a {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
  color: #339999;
  margin: 30px 0 0 0;
  letter-spacing: -1px;
}
/* line 59, ../sass/content.sass */
main .bullet a:hover {
  text-decoration: underline;
}
/* line 62, ../sass/content.sass */
main .bullet p {
  font-size: 16px;
  line-height: 23px;
  margin: 30px 0 0 0;
}

/* line 67, ../sass/content.sass */
.bottom {
  background: url("../../assets/img/background-bottom.jpg");
  background-size: cover;
  padding: 50px 0 60px 0;
  text-align: center;
}
@media only screen and (max-width: 980px) {
  /* line 67, ../sass/content.sass */
  .bottom {
    padding: 25px 10px 25px 10px;
  }
}
/* line 74, ../sass/content.sass */
.bottom h2 {
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 800;
  padding-left: 30px;
  letter-spacing: -0.5px;
  text-align: center;
}
@media only screen and (max-width: 980px) {
  /* line 74, ../sass/content.sass */
  .bottom h2 {
    padding-left: 0;
    font-size: 22px;
  }
}
/* line 85, ../sass/content.sass */
.bottom button {
  height: 99px;
  line-height: 93px;
  width: 100%;
  max-width: 510px;
  margin-top: 24px;
  margin-left: 30px;
  border: none;
  border-top: 1px solid #fff;
  -webkit-box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  font-size: 36px;
  font-weight: 800;
  cursor: pointer;
  text-transform: uppercase;
  background: linear-gradient(to bottom, #ccff33, #99cc33);
  transition: all ease-out 0.2s;
}
@media only screen and (max-width: 980px) {
  /* line 85, ../sass/content.sass */
  .bottom button {
    margin-left: 0;
    font-size: 24px;
    height: 59px;
    line-height: 53px;
  }
}
/* line 109, ../sass/content.sass */
.bottom button img {
  float: right;
  margin-top: 32px;
  margin-right: 37px;
  margin-left: -45px;
}
@media only screen and (max-width: 980px) {
  /* line 109, ../sass/content.sass */
  .bottom button img {
    margin-top: 17px;
    width: 13px;
    margin-right: 4px;
  }
}
/* line 118, ../sass/content.sass */
.bottom button:hover {
  opacity: 0.5;
}
