.header{
	padding: 5px;
	background: #e5e5ff;
	box-sizing: border-box;
	width: 100%;
	border-bottom: 1px solid #d2d2d2;
	margin-bottom: 20px;
	@media screen and (max-width: 767px){
		padding:5px;
	}
	&-contact{
		float: right;
		a{
			text-decoration: none;
			color: #333;
		}
		p{
			color: #333;
			margin-top: 5px;
		}
	}
	&-logo{
		box-sizing: border-box;
		img{
			@media screen and (max-width: 767px){
				width: 95px;
			}
		}
	}
	h2{
		font-family: 'PT Sans', sans-serif;
		text-align: center;
		clear: both;
		font-size: 140%;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding-bottom: 10px;
		margin-top: 10px;
		font-weight: 700;
		color: #333;
		@media screen and (max-width: 767px){
			font-size: 110%;
			padding-bottom: 20px;
			padding-top: 20px;
		}
	}

}