/*body{
	p{
		font-family: 'PT Sans', sans-serif;
		font-family: 'Rubik Mono One', sans-serif;
		font-size: 150%;

	}

	span{
		font-family: 'El Messiri', sans-serif;
		font-size: 200%;
		font-weight: bold;
		font-family: 'Forum', cursive;
font-family: 'Lora', serif;
	}
}*/


