/*body{
	p{
		font-family: 'PT Sans', sans-serif;
		font-size: 150%;

	}

	span{
		font-family: 'El Messiri', sans-serif;
		font-size: 200%;
		font-weight: bold;
		font-family: 'Forum', cursive;
font-family: 'Lora', serif;
	}
}*/


.main-block-countdown-wrapper{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 40px 10px 10px 10px;
	box-sizing: border-box;
	p{
		&:nth-child(1){
			margin-top: 10px;
			font-size: 180%;
			font-weight: 700;
			text-align: center;
			font-family: 'Forum', cursive;
			color: #222;
			@media screen and (max-width: 767px){
				line-height: 30px;
			}
		}
		&:nth-child(2){
			margin-top: 20px;
			font-size: 120%;
			color: #222;
			text-align: center;
			@media screen and (max-width: 767px){
				line-height: 25px;
			}
			span{
				background: #ffc2e0;
				text-decoration: underline;
				padding: 1px 4px 1px 4px
			}
		}
		&:nth-child(3){
			font-size: 90%;
			color: #555;
			font-style: italic;
		}
		&:nth-child(4){
			margin-top: 20px;
			font-size: 120%;
			color: #222;
			text-align: center;
			span{
				font-weight: 700;
			}
		}
		&:nth-child(6){
			margin-top: 10px;
			font-size: 120%;
			color: #222;
			text-align: center;
			span{
				font-weight: 700;
			}
		}
	}

	#countdown{
		margin-top: 30px;
	}
}

.main-block-even{
	height: 500px;
	background: green;	
}

.main-block-odd{
	height: 500px;
	background: #fff;
}

.main-block-first{
	background: #ececec;
}

.main-block-second{
	@extend .main-block-even;
	background: #fff;
}

.main-block-third{
	@extend .main-block-even;
	background: #ececec;
}


.main-block-canvas{
	overflow: hidden;
	position: relative;
	background: #fff;
}

footer{
	height:100px;
	background: #343434;
}


