/*body{
	p{
		font-family: 'PT Sans', sans-serif;
		font-size: 150%;

	}

	span{
		font-family: 'El Messiri', sans-serif;
		font-size: 200%;
		font-weight: bold;
		font-family: 'Forum', cursive;
font-family: 'Lora', serif;
	}
}*/


.main-block-countdown-wrapper{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 40px 10px 10px 10px;
	box-sizing: border-box;
	p{
		&:nth-child(1){
			margin-top: 10px;
			font-size: 180%;
			font-weight: 700;
			text-align: center;
			font-family: 'Forum', cursive;
			color: #222;
			@media screen and (max-width: 767px){
				line-height: 30px;
			}
		}
		&:nth-child(2){
			margin-top: 20px;
			font-size: 120%;
			color: #222;
			text-align: center;
			@media screen and (max-width: 767px){
				line-height: 25px;
			}
			span{
				background: #ffc2e0;
				text-decoration: underline;
				padding: 1px 4px 1px 4px
			}
		}
		&:nth-child(3){
			font-size: 90%;
			color: #555;
			font-style: italic;
		}
		&:nth-child(4){
			margin-top: 20px;
			font-size: 120%;
			color: #222;
			text-align: center;
			span{
				font-weight: 700;
			}
		}
		&:nth-child(6){
			margin-top: 10px;
			font-size: 120%;
			color: #222;
			text-align: center;
			span{
				font-weight: 700;
			}
		}
	}

	#countdown{
		margin-top: 30px;
	}
}

.main-block-even{
	height: 500px;
	background: green;	
}

.main-block-odd{
	height: 500px;
	background: #fff;
}

.main-block-first{
	background: #ececec;
	height: auto;
	padding-bottom:40px;
}

.main-block-second{
	@extend .main-block-even;
	background: #fff;
	height: auto;
	h2{
		font-family: 'Forum', cursive;
		text-align: center;
		font-size: 200%;
		font-weight: 700;
		color: #333;
		margin-top: 40px;
	}
	ol{
		margin-left: 0;
		list-style: none;
		counter-reset: li;
		li{
			position: relative;
			margin-bottom: 1.2em;
			border: 3px solid #e4e4e4;
			padding: 0.8em;
			border-radius: 4px;
			color: #555;
			font-family: 'PT Sans', sans-serif;
			transition: all ease-out 0.1s;
			&:before{
				position: absolute;
				top: -0.7em;
				padding-left: 0.4em;
				padding-right: 0.4em;
				font-size: 16px;
				font-weight: bold;
				color: #26afb0;
				border-radius: 50%;
				counter-increment: li;
				content: counter(li);
				background: #fff;
			}
			&:hover{
				-ms-transform: scale(1.03); 
    			-webkit-transform: scale(1.03); 
    			transform: scale(1.03);
    			transition: all ease-out 0.1s;
			}
			span{
				background: #3d589b;
				color: #fff;
				font-weight: 700;
				border-radius:3px;
				font-size: 90%;
				text-transform: lowercase;
				padding: 1px 4px 1px 4px;
				@media screen and (max-width: 767px){
					line-height: 30px;
				}
			}
		}
	}
	.block-wrapper{
		max-width: 1200px;
		width: 100%;
		box-sizing: border-box;
		margin: 0 auto;
		margin-top: 40px;
		margin-bottom: 100px;
	}
	.list-wrapper{
		box-sizing: border-box;
		width: 49%;
		display: inline-block;
		vertical-align: top;
		padding: 0px 10px 10px 10px;
		@media screen and (max-width: 960px){
				width: 100%;
				display: block;
			}
	}
	.form-wrapper{
		box-sizing: border-box;
		width: 49%;
		display: inline-block;
		border: 1px solid #d5d5d5;
		padding: 10px;
		height: 447px;
		vertical-align: top;
		@media screen and (max-width: 960px){
				width: 100%;
				display: block;
			}
	}
}

.main-block-third{
	@extend .main-block-even;
	background: #ececec;
}


.main-block-canvas{
	overflow: hidden;
	position: relative;
	background: #fff;
}

footer{
	height:100px;
	background: #343434;
}


