/*body{
	p{
		font-family: 'PT Sans', sans-serif;
		font-size: 150%;

	}

	span{
		font-family: 'El Messiri', sans-serif;
		font-size: 200%;
		font-weight: bold;
		font-family: 'Forum', cursive;
font-family: 'Lora', serif;
	}
}*/
.main-block-countdown-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 10px 10px 10px;
  box-sizing: border-box; }
  .main-block-countdown-wrapper p:nth-child(1) {
    margin-top: 10px;
    font-size: 180%;
    font-weight: 700;
    text-align: center;
    font-family: 'Forum', cursive;
    color: #222; }
    @media screen and (max-width: 767px) {
      .main-block-countdown-wrapper p:nth-child(1) {
        line-height: 30px; } }
  .main-block-countdown-wrapper p:nth-child(2) {
    margin-top: 20px;
    font-size: 120%;
    color: #222;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .main-block-countdown-wrapper p:nth-child(2) {
        line-height: 25px; } }
    .main-block-countdown-wrapper p:nth-child(2) span {
      background: #ffc2e0;
      text-decoration: underline;
      padding: 1px 4px 1px 4px; }
  .main-block-countdown-wrapper p:nth-child(3) {
    font-size: 90%;
    color: #555;
    font-style: italic; }
  .main-block-countdown-wrapper p:nth-child(4) {
    margin-top: 20px;
    font-size: 120%;
    color: #222;
    text-align: center; }
    .main-block-countdown-wrapper p:nth-child(4) span {
      font-weight: 700; }
  .main-block-countdown-wrapper p:nth-child(6) {
    margin-top: 10px;
    font-size: 120%;
    color: #222;
    text-align: center; }
    .main-block-countdown-wrapper p:nth-child(6) span {
      font-weight: 700; }
  .main-block-countdown-wrapper #countdown {
    margin-top: 30px; }

.main-block-even, .main-block-second, .main-block-third {
  height: 500px;
  background: green; }

.main-block-odd {
  height: 500px;
  background: #fff; }

.main-block-first {
  background: #ececec;
  height: auto;
  padding-bottom: 40px; }

.main-block-second {
  background: #fff;
  height: auto; }
  .main-block-second h2 {
    font-family: 'Forum', cursive;
    text-align: center;
    font-size: 200%;
    font-weight: 700;
    color: #333;
    margin-top: 40px; }
  .main-block-second ol {
    margin-left: 0;
    list-style: none;
    counter-reset: li; }
    .main-block-second ol li {
      position: relative;
      margin-bottom: 1.2em;
      border: 3px solid #e4e4e4;
      padding: 0.8em;
      border-radius: 4px;
      color: #555;
      font-family: 'PT Sans', sans-serif;
      transition: all ease-out 0.1s; }
      .main-block-second ol li:before {
        position: absolute;
        top: -0.7em;
        padding-left: 0.4em;
        padding-right: 0.4em;
        font-size: 16px;
        font-weight: bold;
        color: #26afb0;
        border-radius: 50%;
        counter-increment: li;
        content: counter(li);
        background: #fff; }
      .main-block-second ol li:hover {
        -ms-transform: scale(1.03);
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
        transition: all ease-out 0.1s; }
      .main-block-second ol li span {
        background: #3d589b;
        color: #fff;
        font-weight: 700;
        border-radius: 3px;
        font-size: 90%;
        text-transform: lowercase;
        padding: 1px 4px 1px 4px; }
        @media screen and (max-width: 767px) {
          .main-block-second ol li span {
            line-height: 30px; } }
  .main-block-second .block-wrapper {
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 100px; }
  .main-block-second .list-wrapper {
    box-sizing: border-box;
    width: 49%;
    display: inline-block;
    vertical-align: top;
    padding: 0px 10px 10px 10px; }
    @media screen and (max-width: 960px) {
      .main-block-second .list-wrapper {
        width: 100%;
        display: block; } }
  .main-block-second .form-wrapper {
    box-sizing: border-box;
    width: 49%;
    display: inline-block;
    border: 1px solid #d5d5d5;
    padding: 10px;
    height: 447px;
    vertical-align: top; }
    @media screen and (max-width: 960px) {
      .main-block-second .form-wrapper {
        width: 100%;
        display: block; } }

.main-block-third {
  background: #ececec; }

.main-block-canvas {
  overflow: hidden;
  position: relative;
  background: #fff; }

footer {
  height: 100px;
  background: #343434; }

/*# sourceMappingURL=style-main.css.map */
