.button{
	&-bordered{
		text-transform: uppercase;
		font-weight: 700;
		border: 1px solid #dd2b1c;
		color: #dd2b1c;
		padding: 10px;	
		border-radius: 5px;
	}
	&-red{
		background: #dd2b1c;
		color: #fff;
		font-weight: 700;
		padding: 11px;
		text-transform: uppercase;
	}
}

.separator{
	@media screen and (max-width: 480px){
				display: none !important;
			}
}

