.mobile-menu-btn{
	background: transparent;
	display: none;
	width: 40px;
	border-bottom: 22px double #fff; 
    border-top: 7px solid #fff; 
    content:"";
    margin-top: 10px;
    margin-left: 10px;
    padding: 4px;
	@media screen and (max-width: 1200px){
				display: block;
			}
}