.article
  &-full
    width 100%
    max-width 1200px
    margin 0 auto
    background #fff
    margin-top 15px
    padding 20px
    box-sizing border-box
    h3
      text-transform none
      font-size 200%
      font-family 'Roboto', 'Arial', sans-serif
      font-weight 700
      margin-bottom 20px

    &_cover
      height 300px
      width 100%
      box-sizing border-box
      background url("/newsite/img/faq.jpg")center center no-repeat
      background-size contain
      margin-top 20px
      margin-bottom 20px



    &-text-wrapper
      box-sizing border-box

      li
        line-height 25px
        margin-top 10px
      b
        font-weight 700

