@font-face {
  font-family: 'acquest';
  src: url('/newsite/fonts/acque/acquestscript-webfont.eot');
  src: url('/newsite/fonts/acque/acquestscript-webfont.eot?#iefix') format('embedded-opentype'),
    url('/newsite/fonts/acque/acquestscript-webfont.woff2') format('woff2'),
    url('/newsite/fonts/acque/acquestscript-webfont.woff') format('woff'),
    url('/newsite/fonts/acque/acquestscript-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oldclass';
  src: url('/newsite/fonts/oldclassic/old_classic-webfont.eot');
  src: url('/newsite/fonts/oldclassic/old_classic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/newsite/fonts/oldclassic/old_classic-webfont.woff2') format('woff2'),
    url('/newsite/fonts/oldclassic/old_classic-webfont.woff') format('woff'),
    url('/newsite/fonts/oldclassic/old_classic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'esenin';
  src: url('/newsite/fonts/esenin/esenin_script_one-webfont.eot');
  src: url('/newsite/fonts/esenin/esenin_script_one-webfont.eot?#iefix') format('embedded-opentype'),
    url('/newsite/fonts/esenin/esenin_script_one-webfont.woff2') format('woff2'),
    url('/newsite/fonts/esenin/esenin_script_one-webfont.woff') format('woff'),
    url('/newsite/fonts/esenin/esenin_script_one-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'copy';
  src: url('/newsite/fonts/copist/copyist-webfont.eot');
  src: url('/newsite/fonts/copist/copyist-webfont.eot?#iefix') format('embedded-opentype'),
    url('/newsite/fonts/copist/copyist-webfont.woff2') format('woff2'),
    url('/newsite/fonts/copist/copyist-webfont.woff') format('woff'),
    url('/newsite/fonts/copist/copyist-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'adine';
  src: url('/newsite/fonts/adine/adine_kirnberg-webfont.eot');
  src: url('/newsite/fonts/adine/adine_kirnberg-webfont.eot?#iefix') format('embedded-opentype'),
    url('/newsite/fonts/adine/adine_kirnberg-webfont.woff2') format('woff2'),
    url('/newsite/fonts/adine/adine_kirnberg-webfont.woff') format('woff'),
    url('/newsite/fonts/adine/adine_kirnberg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}